button {
  font-size: 18px;
  border: 2px solid #1B2347;
  opacity: .5;
  background-color: #fff;
}
main {
  background-color: #373F51;
  vertical-align: middle;
  text-align: center;
  padding: 70px 0;
  height: 70%;
}
.scrollDown {
    opacity: 0;
    transition: all 2s ease;
  }
  .scrollUp {
    opacity: 1;
    transition: all 2s ease;
  }
#gameStart {
  margin: auto;
  text-align: center;
  color: white;
  /*width: 100%;*/
}

/*#gameStart h3 {
  margin-bottom: 10rem;
  margin-top: -10rem;
}*/

#song-filter {
  background-color: #C8BFC7;
  vertical-align: middle;
  text-align: center;
  padding: 70px 0;

  height: 70%;
  color: #373F51;
  margin: auto;
}
#about {
  vertical-align: middle;
  text-align: center;
  padding: 70px 0;

  height: 50%;
  color: #373F51;
  margin: auto;
}

img {
  height: 150px;
}



/*KW MODULES FOR TRACKLIST*/
#track-list{
  margin: 4rem 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.track-details{
  width: 20em;
  margin: 0 5rem;
}

.track-image{
  max-width: 30rem;
  height: auto;
}

.track-title{
  font-size: 2rem;
  margin: .5rem;
  border: #c8bfc7 2px solid;
  border-radius: 4px;
  -webkit-transition : border .5s , background-color .5s;
}

.track-title:hover{
  background-color: #C8BFC7;
  cursor: pointer;
  color: #fff;
  border-color: #555;
}


#video-list{
  margin: 4rem 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.video-details{
  width: 70%;
  margin: 0 auto;
  /*color: #555;*/
}

.video-title{
  position:relative;
  /*font-size: 2rem;*/
  margin: .5rem;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
  border-bottom: #c8bfc7 2px solid;
  border-radius: 4px;
}


.video-image{
  max-width: 40rem;
  height: auto;
}

.video-image:hover{
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  #startButton {
    margin-top: 10rem;
  }
}
